<template ace-name="swap-component">
	<link href="/main.css" rel="stylesheet" />
	<div class="border">
		<slot name="title"></slot>
		<form ace-ref="trade-input">
			<select ace-ref="dyn-select-pairs" name="pair", class="form-select"></select>
			<div class="input-group mb-3">
				<input type="number" min="1" class="form-control" name="amount">
				<input type="hidden" class="form-control" name="denom">
				<span ace-ref="input-denom" class="input-group-text">?</span>
				<button ace-ref="reverse-btn" class="btn btn-outline-secondary" type="button">↔️</button>
				<span ace-ref="output-amount" class="input-group-text">?</span>
				<span ace-ref="output-denom" class="input-group-text">?</span>
			</div>
			<button ace-ref="swap-btn" class="btn btn-primary" type="button">Swap</button>
		</form>
	</div>
</template>
