# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/
dist/
ts-build/
/artifacts/*.wasm
/artifacts/localsei.json

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
/scripts/.env
node_modules/
/contracts/**/schema/
