.dialog-trade-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.dialog-trade-form input[type=number]::-webkit-inner-spin-button, 
.dialog-trade-form input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
}
.dialog-trade-form input[type=number] {
	-moz-appearance: textfield;
}
.trade-amount-input {
	display: flex;
	align-items: center;
}
.trade-amount-input > input {
	flex-grow: 1;
	margin-right: 8px;
}
