main[is="app-container-component"] {
  width: 763px;
}

main[is="app-container-component"] > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
  width: 100%;
  padding: var(--spacing-7);
  box-sizing: border-box;
}

main[is="app-container-component"] > .container >  menu[is="fantasy-tabs"] {
  gap: var(--spacing-7);
}

main[is="app-container-component"] #app-content {
  width: 100%;
}