div[is="swap-item-component"] {
  width: 100%;
}

div[is="swap-item-component"] .fantasy-input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-2);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

div[is="swap-item-component"] .slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div[is="swap-item-component"] .slider-container input {
  width: 100%;
}

div[is="swap-item-component"] .slider-container .slider-amounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 calc(var(--spacing-1) / 2);
}

div[is="swap-item-component"] .slider-container .slider-amounts .amount {
  font-size: var(--font-size-xlarge);
  color: var(--colour-secondary-500);
}

div[is="swap-item-component"] .slider-container .slider-amounts .converted-amount {
  font-size: var(--font-size-normal);
  color: var(--colour-secondary-500);
}

div[is="swap-item-component"] button {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

div[is="swap-item-component"] span[is="token-display"]  {
  color: var(--colour-secondary-500);
}

active-dropdown-menu {
  width: var(--triggering-element-client-width);
}