div[is="swap-component"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

div[is="swap-component"] > div {
  width: 100%;
}

div[is="swap-component"] .arrow {
  margin: -4px 0;
}