div[is="swap-component"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

div[is="swap-component"] > div {
  width: 100%;
}

div[is="swap-component"] .arrow {
  margin-top: -6px;
  margin-bottom: -23px;
  padding: var(--spacing-1);
}

div[is="swap-component"] .labels-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: var(--colour-neutral-secondary);
  font-weight: 400;
  font-size: var(--font-size-small);
}

div[is="swap-component"] .labels-row > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

div[is="swap-component"] .swap-button {
  color: var(--colour-neutral-primary);
  margin-top: var(--spacing-4);
  align-self: flex-end;
}