button[is="sort-by-component"] {
  cursor: pointer;
}

button[is="sort-by-component"] .button {
  font-size: var(--font-size-normal);
  font-weight: 400;
  color: var(--colour-secondary-500);
  background-color: var(--colour-primary-800);
}