#main-content {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.button {
  cursor: pointer;
}

active-dropdown-menu {
  min-width: var(--triggering-element-client-width);
  color: var(--colour-secondary-500);
}