body {
  overflow-x: hidden;
  background: var(--colour-brand-palette-obsidian) url("../static/images/background-min.svg") 100% 100% / cover scroll no-repeat;
}

@media screen and (max-width: 768px) {
  body {
    background-position: 0;
  }
}

#main-content {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.button {
  cursor: pointer;
}

active-dropdown-menu {
  min-width: var(--triggering-element-client-width);
  color: var(--colour-secondary-500);
}