<!-- Extending div might seem weird, but these aren't isolated components -->
<template ace-name="farm-pool-component" ace-extends="div">
	<div class="big-chests">
		<!-- Padding bottom 50% ? -->
		<div>
			CrownFi TVL:<br>
			<span ace-ref="big-chest-tvl">-</span>
		</div>
		<div>
			Total Volume Traded:<br>
			<span ace-ref="big-chest-total-traded">-</span>
		</div>
		<div>
			24H Volume:<br>
			<span ace-ref="big-chest-volume-24h">-</span>
		</div>
	</div>
	<div class="pool-search-options">
		<button class="primary" ace-ref="all-pool-btn" disabled>All Pools</button>
		<button class="primary" ace-ref="my-pool-btn" disabled>My Pools</button>
		<input class="primary" type="search" ace-ref="pool-search-text" disabled>
	</div>
	<div ace-ref="pool-list" class="pool-list">
		<div class="pool-list-headings">
			<div class="pool-list-heading">
				<!-- Quick hack to appease the grid gods -->
			</div>
			<div class="pool-list-heading">
				<!-- Quick hack to appease the grid gods -->
			</div>
			<div class="pool-list-heading">
				Pools
			</div>
			<div class="pool-list-heading">
				Liquidity
			</div>
			<div class="pool-list-heading">
				24H Volume
			</div>
			<div class="pool-list-heading">
				APY
			</div>
			<div class="pool-list-heading">
				Deposits
			</div>
			<div class="pool-list-heading">
				Fee Rate
			</div>
			<div class="pool-list-heading">
				Rewards
			</div>
			<div class="pool-list-heading">
				<!-- Quick hack to appease the grid gods -->
			</div>
		</div>
	</div>
</template>

<template ace-name="farm-pool-item" ace-extends="div" ace-attributes="pool">
	<button class="pool-star" ace-ref="btn-star" disabled>⭐️</button>
	<div class="pool-stats-icons">
		<img ace-ref="icon-token0" src="/assets/lazy-load.svg">
		<img ace-ref="icon-token1" src="/assets/lazy-load.svg">
	</div>
	<div class="pool-stats-name" ace-ref="pool-name">
		-
	</div>
	<div class="pool-stat" ace-ref="liquidity">
		-
	</div>
	<div class="pool-stat" ace-ref="volume-24h">
		-
	</div>
	<div class="pool-stat" ace-ref="apy">
		-
	</div>
	<div class="pool-stat" ace-ref="deposits">
		-
	</div>
	<div class="pool-stat" ace-ref="fee-rate">
		-
	</div>
	<div class="pool-stat" ace-ref="rewards">
		-
	</div>
	<button class="pool-expand" ace-ref="btn-expand">🔽</button>
</template>

<template ace-name="farm-pool-item-options" ace-extends="div" ace-attributes="pool">
	<div class="farm-interact-option">
		<div>
			<span class="interact-option-title">Pool shares</span>
			<span ace-ref="deposit-txt" class="interact-option-text">-</span>
		</div>
		<button ace-ref="deposit-btn">Deposit</button>
	</div>
	<div class="farm-interact-option">
		<div>
			<span class="interact-option-title">Share value</span>
			<span ace-ref="withdraw-txt" class="interact-option-text">-</span>
		</div>
		<button ace-ref="withdraw-btn">Withdraw</button>
	</div>
	<!--
	<div class="farm-interact-option">
		<div>
			<span class="interact-option-title">Rewards</span>
			<span ace-ref="claim-txt" class="interact-option-text">-</span>
		</div>
		<button ace-ref="claim-btn">Claim</button>
	</div>
	-->
</template>

<template ace-name="farm-pool-deposit-dialog" ace-extends="dialog">
	<h1>Deposit</h1>
	<form ace-ref="form" class="dialog-trade-form" method="dialog">
		<h2>Spending:</h2>
		<label class="trade-amount-input">
			<input type="number" min="1" name="amount0">
			<span class="trade-amount-denom" ace-ref="denom-token0">Token0</span>
		</label>
		<div class="trade-amount-balance">
			Current balance: <span ace-ref="balance-token0"></span>
		</div>
		<label class="trade-amount-input">
			<input type="number" min="1" name="amount1">
			<span class="trade-amount-denom" ace-ref="denom-token1">Token1</span>
		</label>
		<div class="trade-amount-balance">
			Current balance: <span ace-ref="balance-token1"></span>
		</div>

		<h2>Recieving</h2>
		<label class="trade-amount-input">
			<input type="number" min="1" name="result">
			<span class="trade-amount-denom" ace-ref="denom-result">Shares</span>
		</label>
		<div class="trade-amount-balance">
			Current balance: <span ace-ref="balance-result"></span>
		</div>
		

		<input type="hidden" name="pool">
		<button class="primary trade-execute">Deposit</button>
		<button ace-ref="btn-cancel">Cancel</button>
	</form>
</template>

<template ace-name="farm-pool-withdraw-dialog" ace-extends="dialog">
	<h1>Withdraw</h1>
	<form ace-ref="form" class="dialog-trade-form" method="dialog">
		<label class="trade-amount-input">
			<input type="number" min="1" class="form-control" name="amount">
			<span class="trade-amount-denom" ace-ref="denom">Shares</span>
		</label>
		<div class="trade-amount-balance">
			Current shares: <span ace-ref="balance"></span>
		</div>

		<div class="trade-result">
			You recieve: <span ace-ref="trade-result">-</span>
		</div>
		
		<input type="hidden" name="pool">
		<button class="primary trade-execute">Withdraw</button>
		<button ace-ref="btn-cancel">Cancel</button>
	</form>
</template>
