div[is="swap-from-component"] .fantasy-input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-2);
}

div[is="swap-from-component"] .slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div[is="swap-from-component"] .slider-container > input {
  width: 100%;
}

div[is="swap-from-component"] .slider-container .slider-amounts {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  width: 100%;
  padding: 0 calc(var(--spacing-1) / 2);
}

div[is="swap-from-component"] .slider-container .slider {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--spacing-1);
  width: 100%;
}

div[is="swap-from-component"] .slider-container .slider-amounts .amount {
  font-size: var(--font-size-xlarge);
  color: var(--colour-secondary-500);
}

div[is="swap-from-component"] .slider-container .slider-amounts .converted-amount {
  font-size: var(--font-size-normal);
  color: var(--colour-secondary-500);
}