.big-chests {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: min-content;
}
.big-chests > * {
	width: 260px;
	height: 60px;
	background-image: url("/assets/treasure-chest.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 32px;
	padding-bottom: 120px;

	color: #CBB26A;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-style: normal;
	font-weight: 700;
	text-align: center;
	margin: 8px;
}

.pool-search-options {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;
	margin: 8px;
}
.pool-search-options > * {
	margin: 0px 20px;
}

div[is="farm-pool-component"] .pool-list {
	text-align: center;
	display: grid;
	grid-template-columns: min-content 72px auto auto auto auto auto auto min-content;
}
div[is="farm-pool-component"] .pool-list-headings  {
	color: #339;
	font-size: 20px;
	font-style: normal;
	font-weight: 800; 
	display: contents; 

}
div[is="farm-pool-component"] .pool-list-headings > * {
	margin: 8px;
	filter: drop-shadow(#fff 0px 0px 4px);
}

@supports not (grid-template-columns: subgrid) {
	div[is="farm-pool-item"]::before {
		display: block;
		background-color: #ffff00;
		border: 20px dashed red;
		content: "YOUR BROWSER IS TOO OLD TO SUPPORT CSS SUBGRIDS, UPDATE YOUR BROWSER!!!";
		font-size: 20px;
		font-weight: 900;
		padding: 16px;
	}
}

div[is="farm-pool-item"] {
	border-radius: 20px;
	background: #FFEBB0;
	border: 1px solid #339; 
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
	/*
		an alternative method that would work on versions of Chromium older than September 2023 would involve
		display:contents and setting the top and bottom border of farm-pool-item's children, with the side borders
		and radius only being defined on :first-child and :last-child. But that's fugly and this project doesn't call
		for >90% compatibility on caniuse.com
	*/
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / 10;
	margin: 16px;
}
div[is="farm-pool-item"].expanded {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
}
div[is="farm-pool-item"].expanded .pool-expand {
	transform: rotate(180deg);
}
.pool-stats-name, .pool-stat {
	display: flex;
	align-items: center;
	justify-content: center;
}
div[is="farm-pool-item"] .pool-star, div[is="farm-pool-item"] .pool-expand {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
	font-size: 24px;
	margin: 8px;
}

div[is="farm-pool-item"] .pool-star {
	border-radius: 0;
	padding: 0;
	border: none;
	height: 32px;
	width: 32px;
	margin: 14px;
	background: url("/assets/star.svg") no-repeat;
	background-size: contain;
}
div[is="farm-pool-item"] .pool-expand {
	border-radius: 0;
	padding: 0;
	border: none;
	height: 32px;
	width: 32px;
	margin: 14px;
	background: url("/assets/dropdown.svg") no-repeat;
	background-size: contain;
}

.pool-stats-icons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.pool-stats-icons img {
	width: 32px;
}
.pool-stats-name {
	font-size:20px;
	color: #653B14;
	font-weight: 800; 
}

div[is="farm-pool-item-options"] {
	grid-column: 1 / 10;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #339; 
	background: linear-gradient(0deg, #FFE8A5 94%, #000 116%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 16px;
	margin-top: 0px;
}
.farm-interact-option {
	margin: 8px;
	display: flex;
}
.farm-interact-option > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.farm-interact-option > button {
	margin: 8px;
}
