div[is="swap-component"] {
	margin: 24px auto;
	max-width: 520px;
	padding: 8px;
}
.swap-inner {
	border-radius: 20px;
	border: 1px solid #8275BF;
	background: linear-gradient(90deg, #DFAE61 0.36%, #EAC27C 33.47%, #F2CF8D 66.57%, #DFAE61 99.68%), linear-gradient(0deg, #BBA35E 0%, #BBA35E 100%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
	
	margin: 2px;
	padding: 36px 28px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.swap-inner > img {
	height: 86px;
}
.swap-inner > button {
	/* align-self: center; */
	margin: 12px;
}
.swap-coin {
	border-radius: 12px;
	border: 1px solid #453884;
	background: #FFEBB0;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	padding: 12px 24px 10px 24px;
	margin: 12px 0px;
}
.swap-coin:first-child {
	margin-top: 0px;
}
.swap-coin-inputs {
	display: flex;
	align-items: center;
}
.swap-coin-inputs > * {
	margin: 0px 2px;
}
.swap-coin-inputs > img {
	height: 32px;
	align-self: center;
}
.swap-coin-inputs > input {
	/* For some reason the auto width is too wide and causes overflow */
	width: 80px;
	/* this makes the number input appropriately wide anyway */
	flex-grow: 1;
	text-align: right;
}

.swap-coin-inputs input[type=number]::-webkit-inner-spin-button, 
.swap-coin-inputs input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
}
.swap-coin-inputs input[type=number] {
	-moz-appearance: textfield;
}

.swap-coin-inputs button {
	padding: 4px 6px;
	border-radius: 4px;
	background: rgba(47, 16, 119, 0.13);
	filter: none;
	color: #2F1077;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	border: none;
}
.swap-coin-inputs button:disabled {
	opacity: 0.4;
	filter: none
}
.swap-coin-inputs button:not(:disabled):active {
	color: rgba(47, 16, 119, 0.13);
	background: #2F1077;
}
.swap-coin .input-error {
	margin-top: 2px;
	text-align: right;
}
.swap-coin .input-error:empty::after {
	content: "\a0";
}

div[is="swap-component"] .seal {
	width: 114px;
	margin: 16px 0px 4px 0px;
	position: relative;
	left: calc(100% - 116px);
	display: block;
}
