<template ace-name="farm-component">
	<link href="/main.css" rel="stylesheet" />
	<div class="border">
		<slot name="title"><h2>SWAP</h2></slot>
		<h3>Deposit</h3>
		<form ace-ref="form-deposit">
			<div class="input-group mb-3">
				<input type="number" min="1" class="form-control" name="amount0">
				<span class="input-group-text"><slot name="denom-token0"></slot></span>
			</div>
			<div class="form-text">Current balance: <slot name="balance-token0"></slot></div>
			<div class="input-group mb-3">
				<input type="number" min="1" class="form-control" name="amount1">
				<span class="input-group-text"><slot name="denom-token1"></slot></span>
			</div>
			<div class="form-text">Current balance: <slot name="balance-token1"></slot></div>
			<button class="btn btn-primary" ace-ref="deposit-btn">Deposit</button>
		</form>
		<h3>Withdraw</h3>
		<form ace-ref="form-withdraw">
			<div class="input-group mb-3">
				<input type="number" min="1" class="form-control" name="amount">
				<span class="input-group-text"><slot name="denom-lp-token"></slot></span>
			</div>
			<div class="form-text">Current balance: <slot name="balance-lp-token"></slot></div>
			<button class="btn btn-primary" ace-ref="withdraw-btn">Withdraw</button>
		</form>
	</div>
</template>
