@import url("./backgrounds.css");
@import url("./fonts.css");
@import url("./input/index.css");
@import url("./heading.css");
@import url("./covers.css");
@import url("./modals/index.css");
@import url("./components/index.css");
:root {
	font-family: "Montserrat-Regular", sans-serif;
	color: #110400;
	--text-colour-primary: #4A479A;
	--text-colour-secondary: #BA2D2C;
	--text-colour-tertiary: #653B14;
	--text-background-1: #EFCA87;
	--text-background-2: #E6B870;

}
.left-right-text {
	display: flex;
	justify-content: space-between;
}
.left-right-text > * {
	text-align: center;
}
.left-right-text > *:first-child {
	text-align: left;
}
.left-right-text > *:last-child {
	text-align: right;
}

.border-img-scroll-50 {
	border-image: url("/assets/backgrounds/scroll-half-res.png") 322 290 300 300 fill / 161px 145px 150px 150px / 138px 132px 130px stretch;
}

.border-img-scroll-25, dialog {
	border-image: url("/assets/backgrounds/scroll-quarter-res.png") 162 146 150 150 fill / 81px 73px 75px 75px / 69px 66px 65px stretch;
}

h1 {
	font-family: "Carattere-Regular";
	font-size: 78px;
	font-weight: normal;
	margin: 8px 0;
}
