@import url("./heading.css");
@import url("./covers.css");
@import url("./modals/index.css");
@import url("./components/index.css");
:root {
	font-family: sans-serif;
}
.left-right-text {
	display: flex;
	justify-content: space-between;
}
.left-right-text > * {
	text-align: center;
}
.left-right-text > *:first-child {
	text-align: left;
}
.left-right-text > *:last-child {
	text-align: right;
}
