<template cewt-name="swap-component" cewt-extends="div">
	<p>
		Hail, noble traders and crypto enthusiasts! We bid thee welcome to the grand realm of Crownfi Swaps, where the
		art of swapping digital treasures is elevated to a level befitting kings and queens.
	</p>
	<form class="swap-inner" cewt-ref="form">
		<div class="swap-coin">
			<div class="left-right-text">
				<span>From</span>
				<span>Balance: <span cewt-ref="in-balance">❓️</span></span>
			</div>
			<div class="swap-coin-inputs">
				<img class="swap-coin-icon" cewt-ref="in-icon" src="/assets/placeholder.svg">
				<!-- Defined at runtime -->
				<select name="in-token"></select>
				<button cewt-ref="btn-in-max" disabled>Max</button>
				<button cewt-ref="btn-in-half" disabled>Half</button>
				<input name="in-amount" type="number">
			</div>
			<div class="input-error" cewt-ref="in-error"></div>
		</div>
		<img src="/assets/swaps-swords.svg">
		<div class="swap-coin">
			<div class="left-right-text">
				<span>To</span>
				<span>Balance: <span cewt-ref="out-balance">❓️</span></span>
			</div>
			<div class="swap-coin-inputs">
				<img class="swap-coin-icon" cewt-ref="out-icon" src="/assets/placeholder.svg">
				<!-- Defined at runtime -->
				<select name="out-token"></select>
				<input name="out-amount" type="number" readonly>
			</div>
			<div class="input-error" cewt-ref="out-error"></div>
		</div>
		<button class="primary">Swap</button>
	</form>
	<img class="seal" src="/assets/seal.svg">
</template>
