<template ace-name="swap-component" ace-extends="div">
	Hail, noble traders and crypto enthusiasts! We bid thee welcome to the grand realm of Crownfi Swaps, where the art
	of swapping digital treasures is elevated to a level befitting kings and queens.
	<form class="swap-inner" ace-ref="form">
		<div class="swap-coin">
			<div class="left-right-text">
				<span>From</span>
				<span>Balance: <span ace-ref="in-balance">❓️</span></span>
			</div>
			<div class="swap-coin-inputs">
				<img class="swap-coin-icon" ace-ref="in-icon" src="/assets/placeholder.svg">
				<!-- Defined at runtime -->
				<select name="in-token"></select>
				<button ace-ref="btn-in-max" disabled>Max</button>
				<button ace-ref="btn-in-half" disabled>Half</button>
				<input name="in-amount" type="number">
			</div>
		</div>
		<img src="/assets/placeholder.svg">
		<div class="swap-coin">
			<div class="left-right-text">
				<span>To</span>
				<span>Balance: <span ace-ref="out-balance">❓️</span></span>
			</div>
			<div class="swap-coin-inputs">
				<img class="swap-coin-icon" ace-ref="out-icon" src="/assets/placeholder.svg">
				<!-- Defined at runtime -->
				<select name="out-token"></select>
				<input name="out-amount" type="number" readonly>
			</div>
		</div>
		<button class="primary">Swap</button>
	</form>
</template>
