button[is="token-dropdown-component"] {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

button[is="token-dropdown-component"] span[is="token-display"]  {
  color: var(--colour-secondary-500);
}